<header class="header" data-header>
  <div class="container">

    <div class="overlay" data-overlay></div>

    <div class="header-search">
      <!-- <input type="search" name="search" placeholder="Search Product..." class="input-field">

      <button class="search-btn" aria-label="Search">
        <ion-icon name="search-outline"></ion-icon>
      </button>  -->       
    </div>

    <a href="/" class="logo">
      <img src="/images/AREA logo.png" alt="AREA logo" width="130" height="31">
    </a>

    <div class="header-actions">

      <button class="header-action-btn">
        <i class="fa fa-user" aria-hidden="true"></i>
                    <a href=#><p class='header-action-label'>Sign in</p></a>
          
      </button>

            <a href='logout.php'>
                <div class='logout'>
                <i class='fa fa-telegram' aria-hidden='true'></i>
                <p>Log-Out</p>
                </div>
            </a>
      
    </div>

    <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">

        <a href="/" class="logo">
          <img src="/images/AREA logo.png" alt="PlaySpot logo" width="130" height="31">
        </a>

        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
          <ion-icon name="close-outline"></ion-icon>
        </button>

      </div>

      <ul class="navbar-list">

        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>

        <!-- <li>
          <a href="/users" class="navbar-link">Users</a>
        </li> -->

        <li>
          <a href="/products/add" class="navbar-link">Add</a>
        </li>

        <li>
          <a href="/cart" class="navbar-link">Cart</a>
        </li>

        <li>
          <a href="/products" class="navbar-link">Admin</a>
        </li>

        <li>
          <a href="/categories" class="navbar-link">Categories</a>
        </li>

        <li>
          <a href="/order" class="navbar-link">Orders</a>
        </li>


        

      </ul>

    </nav>

  </div>
</header>