<%- include('includes/head.ejs') %>

</head>
<body>
<%- include('includes/navigation.ejs') %>

    
    <main>
        <container>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center my-2">This is a user Page jkb</h2>
                </div>
            </div>
        </container>
        
    </main>
<%- include('includes/footer.ejs') %>
